$color_primary_1: #ed1b24;
$color_secondary_1: #15a04c;

$color_grey_1: rgba(248, 248, 248, 1);
$color_grey_2: #f8fcf8;
$color_grey_3: #fcfcfc;
$color_grey_4: #f7f7f7;
$color_grey_5: #f8f8f8;
$color_grey_6: #f8f9fa;
$color_grey_7: #eee;
$color_grey_8: #dee2e6;
$color_grey_9: #ddd;

$color_b1: #0b0b0b;
$color_b2: #121212;
$color_b3: #222222;
$color_b4: #333333;
$color_b5: #444444;
$color_b6: #555555;
$color_b7: #777777;

$color_text_grey: rgba(33, 37, 41, 0.75);
$color_text_grey2: #cecece;
$color_text_grey3: #c2c7d0;
$color_text_grey4: #aaaaaa;

$color_white: #ffffff;
$color_black: #000000;